@font-face {
    font-family: 'Arial - MT';
    src: url(../fonts/arialmt.ttf);
}
@font-face {
    font-family: 'Arial - Bold MT';
    src: url(../fonts/Arial-BoldMT.otf);
}
@font-face {
    font-family: 'Arial - Bold Italic MT';
    src: url(../fonts/ARIALBOLDITALICMT.OTF);
}
@font-face {
    font-family: 'Lato - Light Italic';
    src: url(../fonts/Lato-LightItalic.ttf);
}
@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);
}

/* Change to bootstrap */
.container {
    width: 1000px;
}

body {
    font-family: "Arial - MT";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
}

/* ==> Custom css <== */

/* Header begin */
.header--nav {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
    min-height: 120px;
}

#primaryMenu .nav-item>a>i {
    padding-left: 7px;
    color: #000000;
    font-size: 8px;
}

.header--nav__menu ul li a {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
}

.header--nav__menu>ul>li>a {
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.header--nav__menu>ul>li.show>a {
    color: #2aacc8;
    background-color: #ffffff;

}

.header--nav__menu>ul>li.show::before {
    content: "";
    height: 5px;
    width: 100%;
    display: block;
    position: absolute;
    background-color: #2aacc8;
    top: -5px;
}

.header--nav__menu>ul>li>ul {
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 5px;
}

.header--nav__menu>ul>li>ul>li {
    padding: 10px 15px;
    border-bottom: solid 1px #e8ebf1;
}

.header--nav__menu>ul>li>ul>li>a {
    text-transform: capitalize;
}

.header--nav__menu>ul>li>ul>li:hover {
    background-color: transparent;
}

.header--nav__menu>ul>li>ul>li>a:hover {
    color: #2aacc8;
    text-decoration: none;
}


/* Footer begin */
.footer {
    background-color: #e8ebf1;
}
#footerContent {
    padding: 33px 12px;
}
.top--footer {
    padding-bottom: 20px;
}

.top--footer h3 {
    padding-bottom: 15px;
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: uppercase;
}

.top--footer p {
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.top--footer__connect h3 {
    text-align: center;
    margin-left: 5px;
}
.top--footer__connect img{
    float: right;
    width: 27%;
    padding-bottom: 10px;
    padding-left: 15px;
}

.bottom--footer__coppyright p{
    color: #363636;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}
.bottom--footer__logo img{
    float: right;
    margin-right: 10px;
}

.top--footer ul {
    list-style: none;
    padding: 0;
}
.top--footer ul li {
    display: block;
}
.top--footer ul li a {
    text-decoration: none;
    color: #000000;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-transform: capitalize;

}
.top--footer__contact__companyName {
    font-family: "Arial - Bold MT";
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0;
}

/* Banner begin */
.banner {
    padding-top: 10px;
    background-color: #81e4ed;
}
#banner .banner--item img {
    width: 100%;
}

#banner .banner--item .title {
    position: absolute;
    padding: 100px 0px 109px 61px;
}

#banner .banner--item .title p {
    position: absolute;
    color: #ffffff;
    font-family: Lato;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

#banner .owl-dots .owl-dot span{
    width: 14px;
    height: 14px;
    width: 15px;
    background-color: #626262;
    opacity: 0.5;
}

#banner .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span  {
    background-color: #ffffff;
    opacity: 1;
}

#banner .carousel-indicators li {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    color: #626262;
}

/* Blog begin */

.blog {
    background-color: #e8ebf1;
}
.blog--item {
    padding-top: 30px;
}
.blog--item__text h5 {
    font-family: "Arial - Bold MT";
    font-style: normal;
    letter-spacing: normal;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}
.blog--item__text h5>i {
    color: #ffffff;
    background-color: #2aacc8;
    padding: 10px;
    border-radius: 100%;
    margin-right: 10px;
}
.blog--item__text img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.blog--item__text p {
    color: #363636;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
}
.blog--item__readMore a{
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: #2aacc8;
    text-transform: capitalize;
}

.blog--item__readMore>a>i {
    color: #000000;
    padding-right: 7px;
}


/* Lastest Works begin */
#lastestWorks {
    margin: 0;
    padding: 0;
}
.lastestWorks--title {
    padding-top: 30px !important;
    text-transform: uppercase;
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
}
.lastestWorks--title img{
    width: 14px;
    height: 24px;
    margin-right: 15px;
}

#lastestWorks .owl-nav {
    position: relative;
    top: -247px;
    text-align: right;
    margin: 0;
}
#lastestWorks .owl-nav button {
    background-color: #81e4ed;
    border-radius: 100%;
    width: 25px;
    font-size: 20px;
    font-weight: bolder;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#lastestWorks .owl-nav button span {
    margin: -5px 0 0 0;
}
#lastestWorks .owl-dots {
    display: none;
}
.lastestWorks--item {
    position: relative;
}
.lastestWorks--item .action {
    position: absolute;
    bottom: 0;
    background-color: #2aacc8;
    width: 100%;
    height: 50%;
    text-align: center;
    padding-top: 20px;
    opacity: 0;
    transition: 0.8s all;
}
.lastestWorks--item .action i {
    font-size: 30px;
    color: #ffffff;
}
.lastestWorks--item:hover .action{
    opacity: 1;
}

/* Customer begin */
.customer {
    padding-bottom: 20px;
}

.customer--testimonials__title{
    padding-bottom: 10px;
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}
.customer--testimonials__title>i {
    font-size: 30px;
    margin-right: 14px;
    color: #2aacc8;
}
.customer--testimonials__content {
    padding-right: 50px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.customer--testimonials__author {
    padding-top: 30px;
    font-family: "Arial - Bold Italic MT";
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.customer--logo__title i {
    font-size: 30px;
    margin-right: 14px;
    color: #2aacc8;
    
}
.customer--logo__title{
    padding-bottom: 10px;
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}
.customer--logo__image {
    box-shadow: inset 0 0 10px #e8ebf1;
    border: 1px solid #e8ebf1;
    background-color: #ffffff;
    
}


/* Advertisement start */

#advertisementContent {
    margin-top: 30px;
    margin-bottom: 50px;

}
.advertisement--content {
    border: 1px solid #81e4ed;
    background-color: #e8fcfe;
    margin-left: 0px !important;
    padding-bottom: 10px;
    padding-top: 30px;
}
.advertisement--content__description p {
    color: #363636;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    margin-left: 20px;
}

.advertisement--content__button {
    text-align: right;
    padding-right: 60px !important;

}

.advertisement--content__button button{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
    border: 1px solid #2aacc8;
    background-color: #2aacc8;
    background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
    color: #0d0707;
    font-family: "Arial - Bold MT";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}

.advertisement--content__button button>img {
    padding: 10px 10px 10px 0px;
}



/* Products Begin */ 
.product {
    margin-top: 40px;
    margin-bottom: 40px;
}
.product h2 {
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;

}
.product h2>img {
    padding-right: 10px;
}

.product--category ul {
    list-style: none;
    margin-left: 20px;
    padding: 0;

}

.product--category ul>li {
    display: inline-block;
    padding: 5px 20px 5px 20px;
}

.product--category ul>li>a {
    color: #000000;
    font-size: 14px;
    font-family: "Arial - Bold MT";
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}
.product--category ul>li.active {
    background-color: #81e4ed;
}
.product--category ul>li:hover:not(.active ){
    background-color: #e8ebf1;
}

.productList {
    padding: 0;
    margin: 0;
}

.productList .product--item{
    border: 0;
    padding: 20px;
}

.blockPagination .pagination {
    justify-content: center;
}
.blockPagination .pagination .pagination--item{
    float: none;
}

.blockPagination .pagination a{
    color: black;
    font-family: 'Arial - Bold MT';
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.blockPagination .pagination a.active {
    background-color: #81e4ed;
}
.blockPagination .pagination a:hover:not(.active) {
    background-color: #ddd;
}

.blockPagination .pagination a.icon{
    margin-right: 20px;
    color: #2aacc8;
    background-color: #e8ebf1;
}
